html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
body{
    background: linear-gradient(to bottom right, var(--background-color), var(--background-gradient-color)) fixed;
}



#artist-search-results{
    width:20rem;
    height: var(--search-results-container-height);
    margin: 1rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.05);
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: height 0.3s;
}
#artist-search-results::-webkit-scrollbar{
    display: none;
}

.artist-search-result{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background: linear-gradient(to right, var(--myColor1), transparent);
    transition: --myColor1 0.35s;
    border-radius: 0.25rem 0.25rem 0;
}
.artist-search-result:hover{
    --myColor1: rgba(255, 255, 255, 0.1);
    cursor:pointer;
}
.artist-search-result:active{
    --myColor1: rgba(255, 255, 255, 0.2);
}

.artist-search-result .artist-name{
    font-weight: bold;
}
.artist-search-result .artist-description{
    font-size: 0.75em;
    font-style: italic;
    color: rgb(199, 199, 199);
}


.resultItemImage{
    width: 3rem;
    height: 3rem;
}

#guesses{
    display: flex;
    flex-direction: column-reverse;
}



artist-block{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5em;
    width: fit-content;
    max-width: min(30rem, 80vw);
    font-size: 1rem;
    animation: show-artist-block 0.5s forwards;
    scale: 0;
}

artist-block .name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30ch;
    text-align: center;
    white-space: balance;
}

.artist-img-container{
    border-right: 1px solid gray;
    margin-right: 0.5em;
    padding-right: 0.5em;
    display: flex;
}
.artist-img{
    width: 3em;
    height: 3em;
    background-color: rgba(0, 0, 0, 0.1);
    clip-path: circle();
}

artist-block .info{
    display: flex;
    flex-direction: column;
}

artist-block .info .main-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

artist-block .attribute{
    border: 1px solid gray;
    padding:  0.2em 1em 1em;
    border-radius: 0.75em;
    margin: 0.2em;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    text-align: center;
    transition: transform 0.5s;
}
artist-block .attribute .label{
    font-size: 0.75em;
}

artist-block .tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
artist-block .tag{
    font-size: 0.8em;
    padding: 1em;
}

.close{
    animation: flip-artist-attribute-close 0.5s 0.75s forwards;
}

.correct{
    animation: flip-artist-attribute-correct 0.5s 0.75s forwards;
}

.arrow{
    display: none;
    line-height: 1ch;
}

.too-low .arrow {
    display:inline-block;
    transform: rotate(-90deg);
    
}
.too-high .arrow {
    display:inline-block;
    transform: rotate(90deg);
}



:root{
    --background-color: rgb(10,10,10);
    --background-gradient-color: rgb(39, 26, 58);

    --search-results-container-height: 0;
}

@property --myColor1 {
    syntax: '<color>';
    initial-value: rgba(255, 255, 255, 0);
    inherits: false;
}

@keyframes show-artist-block {
    100% {
        scale:1;
    }
}

@keyframes flip-artist-attribute-close {
    100% {
        transform: rotateX(360deg);
        background-color: rgb(214, 157, 0);
    }
}

@keyframes flip-artist-attribute-correct {
    100% {
        transform: rotateX(360deg);
        background-color: rgba(22, 255, 22, 0.5);
    }
}