#artist-search-results{
    width:20rem;
    height: 20rem;
    margin: 1rem;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.artist-search-result{
    height: 3rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;

}

.artist-search-result .artist-name{

}
.artist-search-result .artist-description{
    font-size: 0.75em;
}
.resultItem:hover{
    background-color: rgb(226, 226, 226);
}

.resultItemImage{
    width: 3rem;
    height: 3rem;
}

#guesses{
    display: flex;
    flex-direction: column;
}

.artist-block{
    display: flex;
    flex-direction: column;
}