html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#artist-search-results{
    width:20rem;
    height: 20rem;
    margin: 1rem;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.artist-search-result{
    height: 3rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;

}
.artist-search-result:hover{
    background-color:rgb(226, 226, 226);
    cursor:pointer;
}

.artist-search-result .artist-name{

}
.artist-search-result .artist-description{
    font-size: 0.75em;
}
.resultItem:hover{
    background-color: rgb(226, 226, 226);
}

.resultItemImage{
    width: 3rem;
    height: 3rem;
}

#guesses{
    display: flex;
    flex-direction: column-reverse;
}



artist-block{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5em;
    width: fit-content;
    max-width: min(30rem, 80vw);
    font-size: 1rem;
}

artist-block .name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30ch;
    text-align: center;
    white-space: balance;
}

.artist-img-container{
    border-right: 1px solid gray;
    margin-right: 0.5em;
    padding-right: 0.5em;
    display: flex;
}
.artist-img{
    width: 3em;
    height: 3em;
    background-color: rgba(0, 0, 0, 0.1);
    clip-path: circle();
}

artist-block .info{
    display: flex;
    flex-direction: column;
}

artist-block .info .main-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

artist-block .attribute{
    border: 1px solid gray;
    padding:  0.2em 1em 1em;
    border-radius: 0.75em;
    margin: 0.2em;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    text-align: center;
}
artist-block .attribute .label{
    font-size: 0.75em;
    color: gray;
}

artist-block .tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
artist-block .tag{
    font-size: 0.8em;
    padding: 1em;
}

.close{
    background-color: rgba(255, 208, 0, 0.5);
}

.correct{
    background-color: rgba(22, 255, 22, 0.5);
}